<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentManager</servlet-name>
        <servlet-class>Controller.StudentManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherManager</servlet-name>
        <servlet-class>Controller.TeacherManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSchedule</servlet-name>
        <servlet-class>Controller.StudentSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAttendance</servlet-name>
        <servlet-class>Controller.StudentAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Controller.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSchedule</servlet-name>
        <servlet-class>Controller.TeacherSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendance</servlet-name>
        <servlet-class>Controller.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManager</servlet-name>
        <servlet-class>Controller.AdminManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInformation</servlet-name>
        <servlet-class>Controller.StudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassMember</servlet-name>
        <servlet-class>Controller.ClassMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>Controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>Controller.CreateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Controller.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInformation</servlet-name>
        <servlet-class>Controller.TeacherInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacher</servlet-name>
        <servlet-class>Controller.UpdateTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacher</servlet-name>
        <servlet-class>Controller.DeleteTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentManager</servlet-name>
        <url-pattern>/StudentManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherManager</servlet-name>
        <url-pattern>/TeacherManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSchedule</servlet-name>
        <url-pattern>/studentSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAttendance</servlet-name>
        <url-pattern>/studentAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSchedule</servlet-name>
        <url-pattern>/teacherSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendance</servlet-name>
        <url-pattern>/takeAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManager</servlet-name>
        <url-pattern>/AdminManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInformation</servlet-name>
        <url-pattern>/studentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassMember</servlet-name>
        <url-pattern>/classMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/updateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/createStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInformation</servlet-name>
        <url-pattern>/teacherInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacher</servlet-name>
        <url-pattern>/updateTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacher</servlet-name>
        <url-pattern>/deleteTeacher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
